# for hubert

audiolm-pytorch==1.1.4
wheel
setuptools
fairseq
huggingface-hub
sentencepiece
transformers
encodec
soundfile
sox

# for clone (encodec, transformers )

boto3
funcy
numpy
scipy
tokenizers
torch
tqdm